<ion-header>

  <ion-navbar>
    <ion-title>Registro entrada</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>ID</ion-label>
      <ion-input [(ngModel)]="pin"></ion-input>
      <button ion-button item-right (click)="ToNewPage()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input [(ngModel)]="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Apellidos</ion-label>
      <ion-input [(ngModel)]="apellidos"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Asunto</ion-label>
      <ion-select [(ngModel)]="subject">
        <ion-option *ngFor="let subject of subjects" [value]="subject.Id">{{subject.Name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Placa</ion-label>
      <ion-input [(ngModel)]="placa"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>No. Cono</ion-label>
      <ion-input [(ngModel)]="no_cono" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Calle</ion-label>
      <ion-select [(ngModel)]="street">
        <ion-option *ngFor="let street of streets" [value]="street.Id">{{street.Name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>No. Calle</ion-label>
      <ion-input [(ngModel)]="no_calle" type="number"></ion-input>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-content>
      <span>Identificacion</span>
      <br>
      <p style="text-align: center">
        <img style="width: 50%;" src="{{ myphoto }}">
      </p>
      <div style="text-align: center; display: block" id="photo-button">
        <button ion-button (click)="TomarFoto()">
          <ion-icon name="camera"></ion-icon>
        </button>
      </div>
      <div style="text-align: center; display: none" id="cancel-button">
        <button ion-button color="danger" (click)="DeleteFoto()">
          <ion-icon name="close"></ion-icon>
        </button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card style="text-align: center">
    <button ion-button block (click)="RegistrarVisita()">Registrar</button>
  </ion-card>


</ion-content>